@font-face {
    font-family: 'candy-inc';
    src: url(/Candyinc-9Gl2.otf);
}
:root {
    --hero-background-color: rgba(20, 20, 20, .6);
    --main-theme: none;
    --highlight-color: #DF265E;
}
body {
    background-image: url('images/signup-form-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto;
    height: 100%;
}
#main-content {
    background-color: var(--hero-background-color);
    width: 60vw;
    margin-top: 10px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}
#message-box {
    padding: 30px 30px 0px 30px;
    margin-left: -20px;
    width: 97.67%;
    height: 75%;
    font-size: larger;
    font-family: 'IntervalBook', 'candy-inc', sans-serif;
}
.form-div {
    display: flex;
    flex-flow: wrap;
    gap: 20px;
}
label {
    font-family: 'IntervalBook', 'candy-inc', sans-serif;
    font-size: small;
    font-weight: bold;
    color: var(--highlight-color);
}
.form-containers {
    display: flex;
    flex-flow: column wrap;
}
input {
    border-radius: 5px;
    width: 300px;
    height: 25px;
    border: none;
    margin-top: 5px;
    font-family: 'IntervalBook', sans-serif;
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}
input:invalid {
    border: 1px solid red;
}
input:focus {
    outline: none;
    box-shadow: 0 0 10px #0000A3;
}
#submit-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
button {
    height: 50px;
    width: 125px;
    margin-top: 20px;
    background-color: var(--main-theme);
    border: solid var(--highlight-color);
    color: var(--highlight-color);
    border-radius: 5px;
}
button:hover {
    background-color: var(--highlight-color);
    color: var(--main-theme);
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: var(--highlight-color);
}
p {
    color: white;
    font-size: larger;
}
#account {
    color: var(--highlight-color);
}